.btn{
    -fx-border-radius: 100px;
    -fx-border-width: 4px;
    -fx-background-color:  #85B3D1FF;
}

.title{
    -fx-border-width: 1px;
    -fx-border-color: whitesmoke;
    -fx-border-radius: 80px;
    -fx-background-color:  #B3C7D6FF;
}

.list{
    -fx-border-radius: 10px 10px 0px 0px;
    -fx-border-color: #2460a7;
    -fx-background-color:  #dad8a7;
    -fx-background-radius: 10px;
}

.list-view{
    -fx-border-radius: 10px 10px 0px 0px;
    -fx-border-color: #2460a7;
}

.list-label{
    -fx-border-radius: 10px;
}

.sonuclar{
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #2460a7;
    -fx-padding: 8px;
}

.genelOrt{
    -fx-background-color:  #B3C7D6FF;
    -fx-border-width: 0 0 0 1px;
    -fx-border-color: whitesmoke;
    -fx-padding: 5px;
}

.kydetArka{
    -fx-background-color:  #B3C7D6FF;
}

.text-field{
    -fx-background-color: #B3C7D6FF;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: whitesmoke;
}

.kydetBtn{
    -fx-background-color: #2ecc71;

}

.silBtn{
    -fx-background-color: #c0392b;
}

.button{
    -fx-background-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;

}

.ekleBtn{
    -fx-background-color: #2460a7;
}

.vboxText{
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: #2460a7;
    -fx-padding: 0px 9px;
}
